[bumpversion]
current_version = 0.1.16
commit = True
tag = True
tag_name = {new_version}

[bumpversion:file:adapters/resnet/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

[bumpversion:file:adapters/deeplabv3/dataloop.json]
search = "{current_version}"
replace = "{new_version}"

